<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lidea</title>
    <link rel="stylesheet" th:href="@{~/v1/gallery/css/style.css}" media="screen" type="text/css"/>

</head>
<body>

<div>


    <div style="margin: 0 auto; width:60%;">

        <div class="container" id="divContainer">


        </div>


        <div class="controller">
            Go to: <label>
            <input type="text" class="">
        </label>
        </div>

        <div class="scrolller-container">
            <div class="scroller"></div>
        </div>


    </div>

</div>


<div id="divTpl" style="display: none;">

    <div class="img-holder" >
        <img th:src="@{~/v1/img/11.png}" onclick="openMethodPage(this)" data-name="{}">
        <div>{}</div>
        <div class="img-ref">
            <img th:src="@{~/v1/img/11.png}">
        </div>
    </div>
</div>

<div style="display: none">
    <form id="frmMethodList" action="/lidea/methodList" method="POST">
        <label for="txtAppName"></label><input id="txtAppName" name="appName"/>
    </form>
</div>

<!--<script th:src="@{~/v1/js/jquery-3.4.1.min.js}"></script>-->
<script th:src="@{~/v1/gallery/js/jquery.js}"></script>
<script th:src="@{~/v1/gallery/js/TweenMax.min.js}"></script>
<script th:src="@{~/v1/gallery/js/Draggable.min.js}"></script>
<script th:src="@{~/v1/gallery/js/index.js}"></script>
<script th:src="@{~/v1/js/Nora.js}"></script>
<script th:src="@{~/v1/js/app.js}"></script>

<script type="text/javascript">


    $(function () {


        let params = {};
        Nora.Ajax("/lidea/detail/apps", params, function (data) {

            if (data.success && null != data.data) {

                bindDataToGallery(data.data);

            } else {
                // on fail
                alert(data.msg);
            }

        }, function (data) {
            // on error
            alert("error " + data)
        });

    });
</script>

</body>
</html>