<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lidea</title>
</head>
<body>


<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="divAccess" style="height:400px"></div>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="divException" style="height:400px"></div>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="divAvg" style="height:400px"></div>

<div style="display: none">
    <form id="frmErrorList" action="/lidea/errorList" target="_blank" method="POST">
        <label for="txtAppName"></label><input id="txtAppName" name="appName" th:value="${appName}"/>
        <label for="txtServiceName"></label><input id="txtServiceName" name="serviceName" th:value="${serviceName}"/>
        <label for="txtMethodName"></label><input id="txtMethodName" name="methodName" th:value="${methodName}"/>
        <label for="txtFrom"></label><input id="txtFrom" name="from"/>
        <label for="txtTo"></label><input id="txtTo" name="to"/>
        <label for="txtSize"></label><input id="txtSize" name="size"/>
    </form>
</div>

<!-- ECharts单文件引入 -->
<script th:src="@{~/v1/js/echarts.js}"></script>
<script th:src="@{~/v1/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{~/v1/js/Nora.js}"></script>
<script th:src="@{~/v1/js/detail.js}"></script>
<script type="text/javascript">


    $(function(){


        let appName = $("#txtAppName").val();
        let serviceName = $("#txtServiceName").val();
        let methodName = $("#txtMethodName").val();
        let from = new Date(new Date().getTime() - 24*60*60*1000).getTime();
        let to = new Date(new Date().getTime() + 24*60*60*1000).getTime();
        let size = 1000;

        let params = {
            "appName": appName,
            "serviceName": serviceName,
            "methodName": methodName,
            "from": from,
            "to": to,
            "size": size
        };


        Nora.Ajax("/lidea/detail/access", params, function (data) {

            if (data.success && null != data.data) {

                bindDataToAccess(data.data);
                bindDataToAvg(data.data);
                bindDataToException(data.data);

            } else {
                // on fail
                alert(data.msg);
            }

        }, function (data) {
            // on error
            alert("error " + data)
        });

    });
</script>

</body>
</html>