<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lidea</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" th:href="@{~/v1/css/basictable.css}"/>
    <link rel="stylesheet" th:href="@{~/v1/css/style.css}"/>

</head>
<body>


<div>
    <div style="display: none">
        <div id="txtFrom" th:utext="${from}"></div>
        <div id="txtTo" th:utext="${to}"></div>
        <div id="txtSize" th:utext="${size}"></div>
        <div id="txtReq" th:text="${req}"></div>
    </div>

    <table id="tbList">
        <thead>
        <tr>
            <th>Time</th>
            <th>ServiceName</th>
            <th>Method</th>
            <th>TraceId</th>
            <th>Local</th>
            <th>Remote</th>
            <th>Cost</th>
            <th>Arg</th>
            <th>Resp</th>
            <th>Msg</th>
            <th>Custom</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div style="display: none">
        <table>
            <tr id="tplRow">
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
            </tr>
        </table>
    </div>

</div>
<script th:src="@{~/v1/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{~/v1/js/jquery.basictable.min.js}"></script>
<script th:src="@{~/v1/js/Nora.js}"></script>
<script th:src="@{~/v1/js/errorList.js}"></script>
<script type="text/javascript">


    $(function () {

        let str = $("#txtReq").html();
        let json = JSON.parse(str);

        let appName = json.appName;
        let serviceName = json.serviceName;
        let methodName = json.methodName;
        let from = json.from;
        let to = json.to;
        let size = json.size;

        let params = {
            "appName": appName,
            "serviceName": serviceName,
            "methodName": methodName,
            "from": from,
            "to": to,
            "size": size
        };


        Nora.Ajax("/lidea/detail/error", params, function (data) {

            if (data.success && null != data.data) {

                bindDataToGrid(data.data);

            } else {
                // on fail
                alert(data.msg);
            }

        }, function (data) {
            // on error
            alert("error " + data)
        });

    });
</script>

</body>
</html>